body{
    background-color: aliceblue;
}

.wrapper{
    width: 600px;
    height: 400px;
    border-radius: 15px;
    background-color: rgb(7, 7, 105);
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 50px;
}

.submit{
    width: 300px;
    height: 40px;
    font-size: 26px;
    border: none;
    background-color: orangered;
    color: #fff;
}

.skip{
    width: 300px;
    height: 40px;
    font-size: 26px;
    border: none;
    background-color: rgb(13, 29, 88);
    color: #fff;
}

.thankFeedback{
    display: none;

}